:root {
    --colorprimario: #197BBD;
    --colorsecundario: #125E8A;
    --colorterciario: #204B57;
    --extras: #8A716A;
    --blanco: #C2B8B2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

img {
    max-width: 100%;
}

body {
    background-image: url(img/white_wall_hash_@2X.png);
}

.contenedor {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.responsive {
    background-color: var(--colorprimario);
    padding: 10px;
    position: relative;
}

.pc {
    display: none;
}

.menu {
    width: 100%;
    height: 100vh;
    background-color: var(--colorsecundario);
    position: absolute;
    top: 0;
    left: 0;
}

.menu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    list-style: none;
    gap: 20px;
}

.menuarriba {
    transform: translateY(-200%);
    transition: transform 1s;
}

.menuabajo {
    transform: translateY(0);
    transition: transform 1s;
}

i {
    color: white;
    font-size: 30px;
}

li a {
    text-decoration: none;
    font-size: 2rem;
    color: white;
    border-bottom: 1px solid white;
    flex: 1 1 100%;
}

li a:hover {
    font-size: 2.5rem;
}

.quitar {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    font-size: 40px;
}

@media (min-width: 768px) {
    .responsive {
        display: none;
    }
    .pc {
        display: block;
        background-color: var(--colorprimario);
    }
    .pc ul {
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        list-style: none;
        border: none;
    }
    .pc ul li {
        position: relative;
        text-align: center;
        flex: 1;
    }
    .pc ul li ul li a {
        font-size: 20px;
    }
    .pc ul li:hover {
        transform: scale(1.05)
    }
    li a {
        border: none;
    }
    .pc ul li ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
    }
    .pc ul li ul li {
        top: 110%;
        left: 0;
        display: block;
        background: var(--colorterciario);
        display: none;
        padding: 10px;
        border-bottom: 1px solid white;
    }
    .pc ul li ul li:hover {
        background-color: rgb(168, 5, 5);
    }
    .pc ul li:hover ul li {
        display: block;
    }
}

.hero {
    background-image: url(img/white_wall_hash_@2X.png);
    height: 90vh;
}

.textos {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titulo {
    font-size: 70px;
    text-align: center;
}

.subtitulo {
    font-size: 30px;
    font-weight: 100;
}

.port {
    background-image: url(img/blue-snow.png);
    height: auto;
    min-height: 400px;
    padding: 1rem 2rem;
}

.conocimientos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conocimiento {
    flex: 0 1 calc(80% - 1rem);
    text-align: center;
    margin-bottom: 1.5rem;
}

@media (min-width: 700px) {
    .conocimientos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        max-width: 100%;
    }
    .conocimiento {
        flex: 0 1 calc(20% - 1rem);
        text-align: center;
    }
}

.conocimiento img {
    width: 60%;
}

.titulo-sec {
    color: black;
    display: block;
    text-align: center;
    font-size: 2.8rem;
    padding: 3rem 0 1.5rem 0;
    margin-bottom: 1rem;
}

.proyectos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0 2rem;
}

.proyecto {
    flex: 0 1 calc(80% - 2rem);
    position: relative;
    margin-bottom: 2rem;
    border-radius: 20px;
    overflow: hidden;
}

@media (min-width: 700px) {
    .proyectos {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .proyecto {
        flex: 0 1 calc(33% - 2rem);
        position: relative;
        margin-bottom: 2rem;
        border-radius: 20px;
        overflow: hidden;
    }
}

.recuadro {
    position: absolute;
    background-color: rgba(55, 55, 131, 0.459);
    width: 100%;
    height: 100%;
    top: 0;
    border-radius: 20px;
    transform: translateX(100%);
    transition: transform 1s ease;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.proyecto:hover .recuadro {
    transform: translateX(0);
}

.proyecto__titulo {
    color: white;
    font-weight: 100;
    font-size: 2rem;
    text-decoration: none;
}

.proyecto__titulo:hover {
    font-size: 2.3rem;
}

.footer {
    background-color: var(--colorterciario);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 700px) {
    .footer {
        background-color: var(--colorterciario);
        color: white;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}

.titulo-footer {
    padding: 40px 0;
    font-weight: 100;
    color: var(--blanco);
}

.titulo-footer span {
    font-weight: 700;
    color: white;
    margin-left: 5px;
}

.icono {
    background-color: var(--colorsecundario);
    border-radius: 50%;
    margin-left: 2rem;
    padding: 5px;
    margin-bottom: 10px;
}